body {
    font-family: Arial, Helvetica, sans-serif;
}

#table,
th,
td {

    margin-top: 10px;
    border-collapse: collapse;
    border: 2px solid black;
    padding: 4px;
}

#otsikko{
    font-size: 30px;
}

#nimiHaku,
#osoiteHaku,
#astyHaku {
    margin: 4px;
    margin-left: 20px;
    width: 200px;
}

#haeTiedotBtn,
#lisaaBtn, #logoutBtn {
    margin-left: 20px;
    margin-top: 10px;
    height: 30px;
    font-size: 14px;
}

#lisaaBtn {
    margin-left: 100px;
}

#logoutBtn{
    margin-left: 100px;
    color: red;
}

#kirjauduBtn{
    
    font-size: 30px;
}

#generoiKeksi{
    font-size: 20px;
}

#tyhjia {
    color: red;
}